<div class="container">
	<div class="container__repo-info">
		<div class="container__repo-info-name">
			<p>Nome: adotePet</p>
		</div>
		<div class="container__repo-info-created">
			<p>Criado em: 24/03/2023</p>
		</div>
		<div class="container__repo-info-updated">
			<p>Atualizado em: 24/03/2023</p>
		</div>
		<div class="container__repo-info-button">
			<button>Veja no Github</button>
		</div>
	</div>
	<div class="container__divisor"></div>
	<div class="container__repo-info-bio">
		<p>Fullstack project to adopt a pet with Express.js React.js and MongoDB</p>
		<div class="container__repo-info-bio-language">
			<p>Linguagem: Javascript</p>
		</div>
	</div>
</div>
